        <div class="activities">
          <div class="activities__header">
            <h2>Recent Activities</h2>
          </div>

            {% for activity in activities %}
                <div class="activities__box">
                    <div class="activities__boxHeader roomListRoom__header">
                    <a href="{% url 'profile' activity.user.username %}" class="roomListRoom__author">
                        
                        {% if request.user == activity.user %}
                            <div class="avatar avatar--small active">
                                <img src="{{activity.user.profile.get_image}}" />
                            </div>
                        {% else %}
                            <div class="avatar avatar--small">
                                <img src="{{activity.user.profile.get_image}}" />
                            </div>
                        {% endif %}

                        <p>
                        @{{activity.user.username}}
                        <span>{{activity.created|timesince}} ago</span>
                        </p>
                    </a>
                    <div class="roomListRoom__actions">


                        <!-- {% if request.user == activity.user %}
                            <a href="{% url 'delete-message' activity.pk %}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>remove</title>
                            <path
                            d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                            ></path>
                            </svg>
                            </a>
                        {% endif %} -->
                    
                        
                    </div>
                    </div>
                    <div class="activities__boxContent">
                    <p>replied to <a href="{% url 'room' activity.room.pk %}">{{activity.room.name}}</a></p>
                    <div class="activities__boxRoomContent">
                        {{activity.body}}
                    </div>
                    </div>
                </div>
            {% endfor %}

        </div>        
        
        
        
        
