{% extends 'base.html' %}


 
{% block content %}
    
    <form action="" method="GET">

        <input type="text" name="q">

        <button type="submit">Search</button>
    </form>


    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>


    <div class="home-container">

        {% include 'home/c1-topic.html' %}


        <div>
            <h3>Available Rooms({{rooms_count}})</h3>
            <hr> 
            <a href="{% url 'create-room' %}">+Room</a>

            {% include 'home/c2-feed.html' %}

        </div>


        {% include 'home/c3-activity.html' %}


    </div>


{% endblock content %}