{% extends 'base.html' %}



{% block content %}


    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>


    <div class="home-container">

        <div>
            <h3>Browse Topics</h3>
            <hr>
            <a href="{% url 'home' %}">All</a>
            <br>
            {% for topic in topics %}
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
                <br>
            {% endfor %}
        </div>



        <div>
            <h3>Available Rooms({{rooms_count}})</h3>
            <hr> 
            <a href="{% url 'create-room' %}">+Room</a>

            </form>

            <h3>Home Page</h3>

            {% for room in rooms %}
                <h4><a href="{% url 'update-room' room.pk %}">Update</a></h4>
                <h4><a href="{% url 'delete-room' room.pk %}">Delete</a></h4>


                <div>@{{room.host.username}}</div>
                <a href="{% url 'room' room.id %}">{{room.name}}</a>
                <br>
                {{room.description}}
                <br>
                {{room.created}} | {{room.updated}}
                <br>
                <small>{{room.topic.name}}</small>

                <hr>
            {% endfor %}
        </div>


    </div>


{% endblock content %}