{% extends 'base.html' %}


 
{% block content %}

    <style>
        .profile-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>

    <h1>Username : {{current_user.username}}</h1>

    <div class="profile-container">

        <div>
            {% include 'home/c1-topic.html' %}
        </div>


        <div>
            {% include 'home/c2-feed.html' %}
        </div>


        <div>
            {% include 'home/c3-activity.html' %}
        </div>

    </div>


{% endblock content %}