{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>J'Pura Vibe</title>
  </head>

  <body>


    {% include 'navbar.html' %}



    	<div style="text-align: center;">
        {% if messages %}
          {% for message in messages %}
            <div id="closer" style="margin-top: 10px; display: inline-block;">
                <div style="background-color: #f0f0f0; display: inline-block; padding: 5px 10px; border-radius: 5px;"> 
                    <span style="color: #000;">{{ message }}</span>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>




    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>































